body {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Dropdown Box */
.dropbox {
  background-color: #006EB0; /*Red Color -> now blue*/
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;


  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 15vw;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;  /* seashell */
  margin-top: -15px;
  font-size: 5vw;
  width: 15vw;
  box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  font-family: 'Kanit', sans-serif;
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 15vw;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #BFECFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropbox content is shown */
.dropdown:hover .dropbox {background-color: #BFECFF;}


.instruct{
  display: inline-block;
  margin-left: 2vw;;
  font-size: 16px;
}

.slidecontainer {
  width: 20vw;
  display: inline-block;
  margin-left: 2vw;;
  position: relative;
  top: 3px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;

  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  object-position: 50% 100%;
  border-radius: 50px;

  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* slider circle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;


  background: #006EB0; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #60A3BF; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.arraysize {
  display: inline-block;
  margin-left: 2vw;
  width: 120px;
}

.generate {
  display: inline-block;
  background-color: #006EB0;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;


  padding-top: 1.5vh;
  padding-bottom: 1.5vh;

  width: 15vw;
  border: none;
  border-radius: 5px;

  margin-left: 2vw;
}

.generate:hover {background-color: #BFECFF;}

.performSort {
  display: inline-block;
  background-color: #006EB0;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;


  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 15vw;
  border: none;
  border-radius: 5px;

  margin-left: 2vw;
}

.performSort:hover {background-color: #BFECFF;}   /* */

.chartContainer {
  margin-top:5vh;
  background-color: white;
  height: 65vh;
  margin-left:2vw;
  width: 95%;
  position: relative;
}

.block {
  background-color: rgb(78, 78, 78);
  border: black;
  position: absolute;
  align-self:center;
  bottom: 0px;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

.sortTable{
  width: 100%;
  margin-top: 3vh;
  text-align: center;
}

td{
  width: 20%;
}

@media screen and (max-width: 1000px) {
  .chartContainer {
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .chartContainer {
    height: 40vh;
  }
}